.basic-grid {
  height: 100vh;
  width: 100%;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-gap: 1rem;
  overflow: hidden;
  z-index: 1;
  // background-color: rgba(55, 55, 55, 0.5);
  text-shadow: 2px 2px 2px #000;

  grid-template-areas:
    'clock weather weather'
    'stock stock stock'
    'cal cal cal'
    'cal cal cal';
    
    grid-template-rows: repeat(4, 1fr);

    grid-template-columns: repeat(3, 1fr);

    .card:nth-child(1) {
      grid-area: clock;
    }

    .card:nth-child(2) {
      grid-area: weather;
    }

    .card:nth-child(3) {
      grid-area: stock;
    }

    .card:nth-child(4) {
      grid-area: cal;
    }
    
}

table {
  width: 100%;
}

#background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}