.calendar-monthly {
  margin-left: 10px;
}

.rbc-toolbar-label {
  margin-top: 15px;
}

.rbc-btn-group {
  display: none;
}

.rbc-off-range-bg {
  background-color: rgba(55, 55, 55, 0.1);
}

.rbc-today {
  background-color: rgba(123, 168, 240, 0.4);
}