@import "../../main.scss";

.weather-headline {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  @include sm {
    font-size: 24px;
  }
  @include lg {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 60px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

.current-weather {
  font-size: 16px;
  @include lg {
    font-size: 32px;
  }
}