.rbc-toolbar-label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.rbc-row {
  padding: 5px 0px;
}

.rbc-btn-group {
  display: none;
}

.rbc-off-range-bg {
  background-color: rgba(55, 55, 55, 0.1);
}

.rbc-today {
  background-color: rgba(123, 168, 240, 0.4);
}